# Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [10]:
s1=set() #creating an empty set

for item in range(1,6):
    s1.add(item) # adding element to the emptyy set

print(s1)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [11]:
s1=set()

s1.add("Pwskills")

s1

{'Pwskills'}

3. Remove an element from a set.

In [12]:
s1={1,2,3,4,5,2,1,3,5,3}

s1 # set with initial element

s1.remove(4) # it creates an error if item not present

print(s1) # final elements after removing

{1, 2, 3, 5}

4. Check if an element exists in a set.

In [14]:
s1={2,3,2,1,6,7,3,2,8,6}

print(s1) # initial elements

val=7 #particular value to be checked whether present or not

if val in s1:
    print(val, " is present in the set")
else:
    print(val," is Not present in the set")

{1, 2, 3, 6, 7, 8}
7  is present in the set

5. Find the length of a set without using the `len()` function.

In [15]:
s1={1,2,2,3,4,5,2,6,7,8,9,3} # crating a set 

count=0 # initial value of length 

for item in s1:
    count+=1 # incrementing value after each iteration
    
print("Total length of ",s1, " is- ",count)

Total length of  {1, 2, 3, 4, 5, 6, 7, 8, 9}  is-  9

6. Clear all elements from a set.

In [16]:
s1={1,2,2,3,4,5,2,6,7,8,9,3} # crating a set 

s1.clear() # it clears all the  element of the set

print(s1)

set()

7. Create a set of even numbers from 1 to 10.

In [22]:
s1=set()# empty set

for item in range(1,10):
    if item%2==0: # checks even numbers
        s1.add(item)

print(s1)

{8, 2, 4, 6}

8. Create a set of odd numbers from 1 to 10.

In [23]:
s2=set()# empty set

for item in range(1,10):
    if item%2!=0: # checks odd numbers
        s2.add(item)

print(s2)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [25]:
s1={1,2,3,4,5} #set1
s2={3,4,5,6,7,2,10,8} #set2

s1.union(s2) # union of two sets ,all element including the common

{1, 2, 3, 4, 5, 6, 7, 8, 10}

10. Find the intersection of two sets.

In [26]:
s1={1,2,3,4,5} #set1
s2={3,4,5,6,7,2,10,8} #set2

s1.intersection(s2) # intersection of two sets,common element in two sets

{2, 3, 4, 5}

11. Find the difference between two sets.

In [27]:
s1={1,2,3,4,5} #set1
s2={3,4,5,6,7,2,10,8} #set2

s1.difference(s2) # element present in s1 but not s2

{1}

12. Check if a set is a subset of another set.

In [29]:
s1={3,4,5} #set1
s2={3,4,5,6,7,2,10,8} #set2

s1.issubset(s2) # whether s1 subset of s2 or not

True

13. Check if a set is a superset of another set.

In [30]:
s1={3,4,5} #set1
s2={3,4,5,6,7,2,10,8} #set2

s2.issuperset(s1) # whether s2 superset of s1 or not

True

14. Create a set from a list.

In [33]:
s={3,4,5,6,7,2,10,8} 

l=list(s) #converting to list

print(l)

[2, 3, 4, 5, 6, 7, 8, 10]

15. Convert a set to a list.

In [37]:
l=[2,3,4,5,6,7,8,10,2,4,2,1] #list elemnts

s=set(l) # converting to set
      
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 10}

16. Remove a random element from a set.

In [38]:
s={2,1,7,3,2,22,4,4,55,244,33,77} #initial elements

s1.pop() #removing random element

3

17. Pop an element from a set.

In [40]:
s={2,1,7,3,2,22,4,4,55,244,33,77} #initial elements

s1.pop() #poping an element

5

18. Check if two sets have no elements in common.

In [42]:
s1={2,3,4,2,1,6,7,7,8,5,9} #set1
s2={10,21,23,45,44,45,66,33} #set2

s1.isdisjoint(s2) #checking whether two sets have no elemnts in common

True

19.Find the symmetric difference between two sets.

In [43]:
s1={1,2,3,4,5} # set1
s2={4,5,6,7,8} # set2

#symmetric difference means all the elements present in set1 and s2 but not in common
s1.difference(s2).union(s2.difference(s1))

{1, 2, 3, 6, 7, 8}

20.Update a set with elements from another set.

In [45]:
s1={1,2,3,4,5} # set1
s2={4,5,6,7,8} # set2

s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8}

22. Check if two sets are identical.

In [48]:
s1={1,2,3,4,5} # set1
s2={2,3,4,5} # set2

s1==s2 # checking whether they are same or not

False

23. Create a frozen set.

In [54]:
s={1,2,3,9,3,2,1,18,29,32} #inital set
f=frozenset(s) #frozenset ,immutable set
print(f)

frozenset({32, 1, 2, 3, 18, 9, 29})

24. Check if a set is disjoint with another set.

In [57]:
s={1,2,3,2,9,7,3} #set1
s1={9,0,3,2,7,2} #set2

s1.isdisjoint(s) #disjoint function to check whether two sets are disjoint or not

False

25. Create a set of squares of numbers from 1 to 5.

In [59]:
s1=set() #empty set

for item in range(1,6):
    s1.add(item**2) #adding square of the elements
    
print(s1)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [65]:
s={1,2,3,4,5,2,4,2,2,8,9,56,34,21} # initial elements
s1=s.copy() #crating a copy of original set

s1

for item in s1:
    if item % 2 !=0: # if the elemnt is odd remove that ,keep only even numbers
        s.remove(item)

print(s) #final set with even numbers

{2, 4, 34, 8, 56}

27. Multiply all elements in a set by 2.

In [66]:
s={1,2,3,4,5,2,4,2,2,8,9,56,34,21} # initial elements
s1=set() #creating an empty set

for item in s:
    s1.add(item*2) #adding element multiplied by 2
    
print(s1)

{2, 4, 68, 6, 8, 10, 42, 16, 112, 18}

28. Create a set of random numbers.

In [67]:
import random 

s=set()

for item in range(1,10):
    s.add(random.random()) # generating random numbers
    
print(s) # final elements

{0.8990631489752535, 0.6519604572464541, 0.4669310469032323, 0.2900955175618868, 0.37885595024899654, 0.18563668479039241, 0.4345191604655192, 0.029581065893250824, 0.37531388100679763}

29. Check if a set is empty.

In [70]:
s=set() # ceating an empty set

length=len(s) # length of the set

if length==0:
    print(s," is empty")
else:
    print(s," is not empty")

set()  is empty

30. Create a nested set (hint: use frozenset).

In [73]:
s={1,2,3,2,6,8,9,9}
fs=frozenset(s)
print(fs)

frozenset({1, 2, 3, 6, 8, 9})

31. Remove an element from a set using the discard method.

In [77]:
s={2,3,4,1,4,6,7,4,32,1,3} # initial set

s.discard(55) # creats no error if value not present
s.discard(1)

print(s)

{32, 2, 3, 4, 6, 7}

32. Compare two sets.

In [79]:
s1={1,2,3,4,5,2,1,2,3,8} #set1
s2={4,2,4,7,7,1,3,57,8,8} #set2

s1.issubset(s2)# check whether s1 subset of s2 or not
s2.issuperset(s1)# check whether s2 superset of s1 or not

s1.difference(s2) # elements preent in s1 but not in s2
s2.difference(s1) # elements present in s2 but not in s1
s1.intersection(s2) # elements common to both the sets

{1, 2, 3, 4, 8}

33. Create a set from a string.

In [82]:
s="THis is a set releated problem assignment and this assignment is very useful to understand set"

s1=set() #creating empty set

for item in s.split(): # iterate over the words of the string
    s1.add(item)
    
print(s1)

{'this', 'and', 'a', 'set', 'to', 'is', 'very', 'THis', 'releated', 'useful', 'understand', 'assignment', 'problem'}

34. Convert a set of strings to a set of integers.

In [83]:
s={"1","3","2","4","3","5","6","2"} #set of strings

s_integer=set() #creating empty set

for item in s:
    s_integer.add(int(item)) #converting strings to integers
    
    
print(s_integer)

{1, 2, 3, 4, 5, 6}

35. Convert a set of integers to a set of strings.

In [84]:
s={1,2,3,42,4,6,7,3,2,6,8} #set of integers

s_string=set() #creating empty set

for item in s:
    s_string.add(str(item)) #converting strings to integers
    
    
print(s_string)

{'1', '6', '42', '2', '7', '4', '8', '3'}

36. Create a set from a tuple.

In [85]:
t=(1,3,2,1,4,6,7,2,8,9) # tuple creation

s=set(t) #converting to set

print(s)

{1, 2, 3, 4, 6, 7, 8, 9}

37. Convert a set to a tuple.

In [86]:
s={2,3,1,2,3,2,4,6,7,8,9,3,2,4} # set creation

t=tuple(s) #converting to tuple

print(t)

(1, 2, 3, 4, 6, 7, 8, 9)

38. Find the maximum value in a set.

In [87]:
s={2,4,2,1,54,6,7,3,2,26,7,8,53,99} #creating set

max_val=max(list(s))

print("maximum value",max_val)

maximum value 99

39. Find the minimum value in a set.

In [88]:
s={2,4,2,1,54,6,7,3,2,26,7,8,53,99} #creating set

min_val=min(list(s))

print("maximum value",min_val)

maximum value 1

40. Create a set from user input.

In [89]:
s=set() # creating empty set

for item in range(5):
    s.add(input("Enter the value")) # user defined input
    
print(s) #final set values

Enter the value3
Enter the value2
Enter the value1
Enter the value7
Enter the value3
{'1', '2', '3', '7'}

41. Check if the intersection of two sets is empty.

In [92]:
s={1,2,3,3,4,5,67,43} # set1
s1={3,2,4,5,6,7,8,3,2,2,4,79,99} # set2

if len(s1.intersection(s2))==0:
    print("Intersection- Empty set")
else:
    print("Intersection-  not Empty set")

Intersection-  not Empty set

43. Remove duplicates from a list using sets.

In [93]:
l=[1,2,1,1,2,34,4,5,3,2,2,3,56,7,8] # creating list with duplicate elements

new_list=list(set(l)) # removing duplicate items from a list

print(new_list)

[1, 2, 34, 4, 5, 3, 7, 8, 56]

45. Create a set of the first `n` powers of 2.

In [97]:
n=int(input("Ente the power upto which value should be in the set- "))

s=set() # empty set

for item in range(1,n+1):
    s.add(2**item)

print(s)

Ente the power upto which value should be in the set- 5
{32, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [98]:
s={1,2,2,3,4,5,6,2,2,6,3,4,2} # creating set  of elements
l=[1,2,2,43,4,5,3,2,16,77,4] # creating list of elements

s.intersection(set(l)) # intersection elemnet between set and list

{1, 2, 3, 4, 5}

47. Create a set of the first `n` triangular numbers.

In [102]:
n=int(input("Enter the number of triangular numbers you want"))

s=set()

for item in range(1,n+1):
    sum1=0
    for inner_item in range(1,item+1):
        sum1=sum1+inner_item
    
    s.add(sum1)
        
print(s)

Enter the number of triangular numbers you want4
{1, 10, 3, 6}

48. Check if a set contains another set as a subset.

In [105]:
s={1,2,3,4,5} #set1 
s1={1,2,3,4,5,6,1,7} #set2

s.issubset(s1) # to check whether subset or not

True

49. Create a set of alternating 1s and 0s of length `n`.

In [117]:
n=int(input("Enter the length-"))
s=set()
s1=" "
for item in range(1,n+1):
    if item%2==0:
        s1=s1+"1"
    else:
        s1=s1+"0"

set(s1.split())

Enter the length-9

{'010101010'}

50. Merge multiple sets into one.

In [1]:
l=[{1,2,3},{4,6,7},{2,5,8},{7,5,9,99}] # creating list with multiple sets

s=set()

for item in range(len(l)):
    s.update(l[item])

print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 99}

42. Create a set of the first 5 Fibonacci numbers.

{0, 1, 2, 3}

# Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [3]:
l=[] #creation of empty list

for item in range(1,6):
    l.append(item) # appending item to the list

print("The tuple with integers from 1 to 5 is-",tuple(l))

The tuple with integers from 1 to 5 is- (1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [4]:
t=(1,2,3,4,5,6,7) # tuple with items from 1 to 7

print("3rd element in the tuple is-",t[2])# nth element t[n-1]

3rd element in the tuple is- 3

3. Find the length of a tuple without using the `len()` function.

In [6]:
t=(3,2,4,5,6,7,8,2,2,6,8) # tuple with following items

count=0 # initial value of length is set to be 0

for item in t:
    count+=1
    
print("Total length of this tuple ",t ," is- ",count)

Total length of this tuple  (3, 2, 4, 5, 6, 7, 8, 2, 2, 6, 8)  is-  11

4. Count the occurrences of an element in a tuple.

In [9]:
t=(3,2,4,5,6,7,8,2,2,6,8) # tuple with following items

t.count(2) #count the occurrences of a particular item ,if the item is not present it returns zero

3

5. Find the index of the first occurrence of an element in a tuple.

In [11]:
t=(3,2,4,5,6,7,8,2,2,6,8) # tuple with following items

t.index(2) # return  first occurrence of a item in the tuple ,if not found return error

1

6. Check if an element exists in a tuple.

In [15]:
t=(3,2,4,5,6,7,8,2,2,6,8) # tuple with following items

val=4 #particular element

if val in t:
    print(val ," is present in ",t)
else:
    print(val ," is  not present in ",t)

4  is present in  (3, 2, 4, 5, 6, 7, 8, 2, 2, 6, 8)

7. Convert a tuple to a list.

In [17]:
t=(3,2,4,5,6,7,8,2,2,6,8) # tuple with following items

l=list(t) # conversion of tuple to list

print("After conversion to list ",l)

After conversion to list  [3, 2, 4, 5, 6, 7, 8, 2, 2, 6, 8]

8. Convert a list to a tuple.

In [20]:
l=[3, 2, 4, 5, 6, 7, 8, 2, 2, 6, 8] # list with following items

t=tuple(l) # conversion to tuple 

print("After conversion to tuple ",t)

After conversion to tuple  (3, 2, 4, 5, 6, 7, 8, 2, 2, 6, 8)

9. Unpack the elements of a tuple into variables.

In [23]:
t=(1,2,3,4) # tuple with items of 1 to 4

a,b,c,d=t[0],t[1],t[2],t[3] # placing values to different variables

print("values are-",a,b,c,d) # printing the values

values are- 1 2 3 4

10. Create a tuple of even numbers from 1 to 10.

In [26]:
l=[] #Creating an empty list

for item in range(1,11):
    if item%2==0:
        l.append(item) # appending even nos to the list
        
t=tuple(l) # conversion to tuple with even nos

print("tuple with even nos- ",t)

tuple with even nos-  (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [27]:
l=[] #Creating an empty list

for item in range(1,11):
    if item%2!=0:
        l.append(item) # appending odd nos to the list
        
t=tuple(l) # conversion to tuple with odd nos

print("tuple with odd nos- ",t)

tuple with odd nos-  (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [28]:
t=(1,2,3) #1st tuple
t1=(4,3,5) #2nd tuple

t2=t+t1 # concatination of two tuple

print("After concatination - ",t2)

After concatination -  (1, 2, 3, 4, 3, 5)

13. Repeat a tuple three times.

In [29]:
t=(1,2,3) # 1st tuple

t1=t*3 # repeating 3 times

print("New tuple ",t1)

New tuple  (1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [30]:
t=(1,2,4) #tuple creation

if len(t)==0: # condition checking
    print("Empty tuple")
else:
    print("Not empty")

Not empty

15. Create a nested tuple.

In [31]:
l=[(1,2,3),(4,5,6)] # list with tuple items

t=tuple(l) #conversion the list into tuple

print(t)

((1, 2, 3), (4, 5, 6))

16. Access the first element of a nested tuple.

In [34]:
t=((1,2,3),(4,5,6),(7,8,9)) # nested tuple

print("1st element in nested tuple- " ,t[0])

1st element in nested tuple-  (1, 2, 3)

17. Create a tuple with a single element.

In [35]:
l=[1] # list with single element

t=tuple(l) #conversion to tuple

print("Single element tuple- ",t)

Single element tuple-  (1,)

18. Compare two tuples.

In [39]:
t=(1,2,3,4,5,2,2,4,9) # 1st tuple
t1=(3,4,5,6,7,7,3,2) #2nd tuple

if len(t)<len(t1):
    print("1st tuple is shorter in length")
else:
    print("2nd tuple is shorter")
    
tuple(set(t).intersection(t1)) # intersecting elements of the two tuples
tuple(set(t).difference(t1)) # element only present in 1st one but not 2nd one
tuple(set(t1).difference(t)) # element only present in 2nd one but not 1st one

2nd tuple is shorter

(6, 7)

19. Delete a tuple.

In [50]:
t=(1,3,2,4) #tuple creation

(1, 3, 2, 4)

20. Slice a tuple.

In [47]:
t=(3,5,7,2,8,9,2) # tuple creation

t[:5:2] #starting with 0th element upto 6th but not including 6th skipping every alternate element

(3, 7, 8)

21. Find the maximum value in a tuple.

In [53]:
t=(12,4,2,2,456,8,4,3) # tuple creation

max(t) # maximium value of a tuple

456

22. Find the minimum value in a tuple.

In [55]:
t=(12,4,2,2,456,8,4,3) # tuple creation

min(t) # minimum value of a tuple

2

23. Convert a string to a tuple of characters.

In [58]:
string="Pwskills"

t=tuple(string) # conversion of a string  into tuple of characters

24. Convert a tuple of characters to a string.

In [65]:
t # previously created tuple of characters

stri=''# empty string

for item in t:
    stri=stri+str(item)
    
print('FInal string- ',stri)

FInal string-  Pwskills

 25. Create a tuple from multiple data types.

In [66]:
t=(1,3.4,"Pwskills",4+6j,[3,2,4,5])

26. Check if two tuples are identical.

In [67]:
t=(1,2,3,4)# 1st tuple
t1=(23,2,1,14,5) #2nd tuple

if t==t1:
    print("identical")
else:
    print("Not Identical")

Not Identical

27. Sort the elements of a tuple.

In [74]:
t=(3,2,6,7,3,9,33,23) # tuple creation

#converting the items to a list and then sort

l=list(t)
l.sort()

# converting the sorted list to again tuple format
tuple(l)

(2, 3, 3, 6, 7, 9, 23, 33)

28. Convert a tuple of integers to a tuple of strings.

In [75]:
t=(1,2,3,4,5) # tuple with integers

l=[] # empty list

for item in t:
    l.append(str(item)) # appending items to list after string conversion
    
tuple(l)

('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [76]:
t=('1', '2', '3', '4', '5') # tuple with string of integers

l=[] # empty list

for item in t:
    l.append(int(item)) # appending items to list after string conversion
    
tuple(l)

(1, 2, 3, 4, 5)

30. Merge two tuples.

In [78]:
t=(1,2,3,4) # 1st tuple
t1=(2,3,5,6) # 2nd tuple

new_tuple=t+t1

new_tuple

(1, 2, 3, 4, 2, 3, 5, 6)

31. Flatten a nested tuple.

In [85]:
t=((1,2,3),(4,5,6),(5,6,8,9))

l=[] # empty list

def nested_tuple(tup):
    for item in tup:
        if type(item)==tuple:
            nested_tuple(item)
        else:
            l.append(item)
            
    return l      

p=nested_tuple(t)

print("Flatten tuple- ",tuple(p))

Flatten tuple-  (1, 2, 3, 4, 5, 6, 5, 6, 8, 9)

34. Create a tuple of squares of numbers from 1 to 5.

In [87]:
l=[] # empty list

for item in range(1,6):
    l.append(item**2)
    
print(tuple(l)) # tuple with square of numbers

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [88]:
t=(1,2,3,4,5,6,7,8,9,10) # tuple with integers 1 to 10

l=[]#empty list

for item in t:
    if item%2==0:
        l.append(item)
        
print("Tuple with even nos- ",tuple(l))

Tuple with even nos-  (2, 4, 6, 8, 10)

36. Multiply all elements in a tuple by 2.

In [89]:
t=(1,2,3,4,5,6,7,8,9,10) # tuple with integers 1 to 10

l=[]#empty list

for item in t:
    l.append(item*2)
        
print("Tuple with even nos- ",tuple(l))

Tuple with even nos-  (2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

37. Create a tuple of random numbers.

In [91]:
import random

l=[] # empty list

for item in range(1,5):
    l.append(random.random())
    
print("TUple with random numbers- ",tuple(l))

TUple with random numbers-  (0.1184417255302811, 0.7614256110766401, 0.28075228486412784, 0.1868117333571322)

38. Check if a tuple is sorted

In [95]:
t=(1,2,3,3,2,1) # tuple creation

l=list(t) # converting it to a list

if l==sorted(t):
    print("tuple is sorted")
else:
    print("not sorted")

not sorted

39. Rotate a tuple to the left by `n` positions.

In [97]:
t=(1,2,3,4,5,6,7,8,9) #initial tuple

n=int(input("Enter the index"))

newtup=t[n::-1]+t[n+1::1]

print(newtup)

Enter the index4
(5, 4, 3, 2, 1, 6, 7, 8, 9)

40. Rotate a tuple to the right by `n` positions.

In [98]:
t=(1,2,3,4,5,6,7,8,9) #initial tuple

n=int(input("Enter the index"))

newtup=t[:n+1:1]+t[:n:-1]

print(newtup)

Enter the index4
(1, 2, 3, 4, 5, 9, 8, 7, 6)

42. Create a tuple from user input.

In [99]:
l=[] # empty list

for item in range(1,5):
    l.append(input())

print("final tuple - ",tuple(l))

5
2
"Hi"
5
final tuple -  ('5', '2', '"Hi"', '5')

43. Swap two elements in a tuple.

In [102]:
t=(1,2,3,4) # tuple creation

l=list(t) # conversion to a list

l1=l.copy() # creating a copy of the list

l1[0],l1[1]=l[1],l[0]

print("new list",l1)

print("New tuple after swapping values", tuple(l1))

new list [2, 1, 3, 4]
New tuple after swapping values (2, 1, 3, 4)

44. Reverse the elements of a tuple.

In [106]:
t=(1,2,3,4) # tuple creation

l=sorted(t,reverse=True) #reversing

print("Reversed Tuple- ",tuple(l))

Reversed Tuple-  (4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [108]:
n=int(input("Enter the power value "))

l=[] # empty list

for item in range(1,n+1):
    l.append(2**item)
    
print("Tuple with ",n, " powers of 2",tuple(l))

Enter the power value 6
Tuple with  6  powers of 2 (2, 4, 8, 16, 32, 64)

46. Find the longest string in a tuple of strings.

In [117]:
t=("Pwskills","DataScience","AI","Machine Learnig") # tuple with string

l=[] # empty list

for item in t:
    l.append(len(item)) # creating a list with the length of the string

index_val=l.index(max(l))

print("String with max_length value in the tuple- is ",str(t[index_val]),"  at index value - ",index_val)

String with max_length value in the tuple- is  Machine Learnig   at index value -  3

47. Find the shortest string in a tuple of strings.

In [118]:
t=("Pwskills","DataScience","AI","Machine Learnig") # tuple with string

l=[] # empty list

for item in t:
    l.append(len(item)) # creating a list with the length of the string

index_val=l.index(min(l))

print("String with min_length value in the tuple- is ",str(t[index_val]),"  at index value - ",index_val)

String with min_length value in the tuple- is  AI   at index value -  2

48. Create a tuple of the first `n` triangular numbers.

In [121]:
n=int(input("Enter how many triangular no you want - "))

l=[] # empty list creation

for item in range(1,n+1):
    sum1=0
    for inner_item in range(1,item):
        sum1=sum1+inner_item
    l.append(sum1)
    
print("Tuple with ",n," triangular nos is ",tuple(l))

Enter how many triangular no you want - 5
Tuple with  5  triangular nos is  (0, 1, 3, 6, 10)

50. Create a tuple of alternating 1s and 0s of length `n`.

In [126]:
n=int(input("Enter the length  you want "))

l=[] # empty list

for item in range(0,n+1):
    if item%2==0:
        l.append(1)
    else:
        l.append(0)
        
print("Final tuple- ",tuple(l))

Enter the length  you want 9
Final tuple-  (1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

# List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [127]:
l=[] # empty list

for item in range(1,11):
    l.append(item)
    
print("Final list- ",l)

Final list-  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [128]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

count=0 # initial value of length

for item in l:
    count+=1

print("The length of ",l," is ",count)

The length of  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  is  10

3. Append an element to the end of a list.

In [131]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 

l.append(input("Enter the value to be apppended")) # appending a user input to the list

print("Final list",l)

Enter the value to be apppended87
Final list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, '87']

4. Insert an element at a specific index in a list.

In [132]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 

position=int(input("Enter the position value "))
val=input("Enter the value to be inclded ")

l.insert(position,val)

print("Final list ",l)

Enter the position value 3
Enter the value to be inclded 88
Final list  [1, 2, 3, '88', 4, 5, 6, 7, 8, 9, 10]

5. Remove an element from a list by its value.

In [134]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 

val=int(input("Enter the value to be removed "))

if val in l:
    l.remove(val)
else:
    print("Value not in list")
    
print("Final list",l)

Enter the value to be removed 99
Value not in list
Final list [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

6. Remove an element from a list by its index.

In [135]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 

val=int(input("Enter the  index value to be removed "))

if val in l:
    l.pop(val)
    
print("Final list",l)

Enter the  index value to be removed 3
Final list [1, 2, 3, 5, 6, 7, 8, 9, 10]

7. Check if an element exists in a list.

In [136]:
l=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 

val=int(input("Enter the  value to be checked "))

if val in l:
    print(val," is present in ",l)
else:
    print(val," is not present in ",l)

Enter the  value to be checked 99
99  is not present in  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

8. Find the index of the first occurrence of an element in a list.

In [138]:
l=[1, 2, 3, 4, 2, 6, 2, 8, 9, 10] 

val=int(input("Enter the  value to be checked "))

print("first occurrence  of ",val ," is at index position ",l.index(val))

Enter the  value to be checked 2
first occurrence  of  2  is at index position  1

9. Count the occurrences of an element in a list.

In [139]:
l=[1, 2, 3, 4, 2, 6, 2, 8, 9, 10] 

val=int(input("Enter the  value to be checked "))

print(val ," is present  ",l.count(val)," times")

Enter the  value to be checked 2
2  is present   3  times

10. Reverse the order of elements in a list.

In [144]:
l=[1, 2, 3, 4, 2, 6, 2, 8, 9, 10] 

l.sort(reverse=True)

print("The reversed list is- ",l)

The reversed list is-  [10, 9, 8, 6, 4, 3, 2, 2, 2, 1]

11. Sort a list in ascending order.

In [145]:
l=[4,2,2,4,2,1,8,9,0,3,25,21] # list with random elements

l.sort() #applying sort method by defualt ascending order

print("Final list after sorting",l)

Final list after sorting [0, 1, 2, 2, 2, 3, 4, 4, 8, 9, 21, 25]

12. Sort a list in descending order.

In [146]:
l=[4,2,2,4,2,1,8,9,0,3,25,21] # list with random elements

l.sort(reverse=True) 

print("Final list after sorting",l)

Final list after sorting [25, 21, 9, 8, 4, 4, 3, 2, 2, 2, 1, 0]

13. Create a list of even numbers from 1 to 20.

In [149]:
l=[item for item in range(1,21) if item%2==0] #creating list using list comprehension
print("Final list",l)

Final list [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [150]:
l=[item for item in range(1,21) if item%2!=0] #creating list using list comprehension
print("Final list",l)

Final list [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [152]:
l=[2,1,3,4,5,6,3,6] # list with random elements

print("Sum of all the elements in a list- ",sum(l)) # used sum function here

Sum of all the elements in a list-  30

16. Find the maximum value in a list.

In [153]:
l=[2,1,3,4,5,6,3,6] # list with random elements

print("maximum of all the elements in a list- ",max(l)) # used max function here

maximum of all the elements in a list-  6

17. Find the minimum value in a list.

In [154]:
l=[2,1,3,4,5,6,3,6] # list with random elements

print("minimum of all the elements in a list- ",min(l)) # used min function here

minimum of all the elements in a list-  1

18. Create a list of squares of numbers from 1 to 10.

In [157]:
l=[item**2 for item in range(1,11)] # using list comprehension method here

print("Final list with squares is- ",l)

Final list with squares is-  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [158]:
import random
l=[random.random() for item in range(1,5)] # using list comprehension method here creating five random numbers

print("Final list with squares is- ",l)

Final list with squares is-  [0.5142915542968972, 0.5956158914381054, 0.6314315083418727, 0.5556005388312992]

20. Remove duplicates from a list.

In [159]:
l=[1,2,1,3,5,4,6,4,7,3,2,1] # list with duplicate elements

list_without_duplicate=list(set(l))

print("Final list without duplicate values ",list_without_duplicate)

Final list without duplicate values  [1, 2, 3, 4, 5, 6, 7]

21. Find the common elements between two lists.

In [161]:
l1=[1,2,3] # list1
l2=[2,3,5,6,9] # list2

common_element_list=list(set(l1).intersection(set(l2)))

print("list with common elements is-",common_element_list)

list with common elements is- [2, 3]

22. Find the difference between two lists.

In [166]:
l1=[1,2,3] # list1
l2=[2,3,5,6,9] # list2

#elements present in l1 only
list(set(l1).difference(set(l2)))

#elements present in l2 only
list(set(l2).difference(set(l1)))

[9, 5, 6]

23. Merge two lists.

In [167]:
l1=[1,2,3] # list1
l2=[2,3,5,6,9] # list2

#after merging new list
l1+l2

[1, 2, 3, 2, 3, 5, 6, 9]

24. Multiply all elements in a list by 2.

In [168]:
l=[1,3,2,6,4,9] # initial list

new_list=[item *2 for item in l]

print("New multiplied by 2 list ", new_list)

New multiplied by 2 list  [2, 6, 4, 12, 8, 18]

25. Filter out all even numbers from a list.

In [170]:
l=[1,3,2,6,4,9] # initial list

new_list=[item for item in l if item%2==0]

print("New even no list ", new_list)

New even no list  [2, 6, 4]

26. Convert a list of strings to a list of integers.

In [171]:
l=['1','4','6','8'] # list with string 

new_int_list=[int(item) for item in l] # type cast string to integers

print("New list with integers ",new_int_list)

New list with integers  [1, 4, 6, 8]

27. Convert a list of integers to a list of strings.

In [172]:
l=[1, 4, 6, 8]# list with integers 

new_str_list=[str(item) for item in l] # type cast integers to string

print("New list with integers ",new_str_list)

New list with integers  ['1', '4', '6', '8']

28. Flatten a nested list.

In [177]:
l=[1,2,3,4,[5,6,7,8],[9,2,1]]

l1=[] # empty list

def nest_list(lis):
    for item in lis:
        if type(item)==list:
            nest_list(item)
        else:
            l1.append(item)
    
    return l1

print("Final list after flatten ",nest_list(l))

Final list after flatten  [1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 1]

30. Check if a list is sorted.

In [178]:
l= [1, 2, 3, 4, 5, 6, 7, 8, 9, 2, 1] # list with random elements

new_list=l.copy() # creating copy of the list

l.sort() # sorting th original list

if new_list==l:
    print("List is sorted")
else:
    print("List not sorted")

List not sorted

31. Rotate a list to the left by `n` positions.

In [180]:
n=int(input("Enter the position value "))

l=[1,2,3,4,5,6,7,8,9] # original list

new_list=l[n::-1]+l[n+1::1]

print("After rotating ",new_list)

Enter the position value 4
After rotating  [5, 4, 3, 2, 1, 6, 7, 8, 9]

32. Rotate a list to the right by `n` positions.

In [209]:
n=int(input("Enter the position value "))

l=[1,2,3,4,5,6,7,8,9] # original list

new_list=l[:n-1:1]+l[:n-2:-1]

print("After rotating ",new_list)

Enter the position value 3
After rotating  [1, 2, 9, 8, 7, 6, 5, 4, 3]

35. Find the second largest number in a list.

In [211]:
l=[2,3,2,1,7,6,9,3] # original list

l.sort(reverse=True) # sorting in reverse order

#after sorted in reverse order 
l

#2nd largest element
l[1]

7

36. Replace every element in a list with its square.

In [213]:
l=[2,3,2,1,7,6,9,3] # original list

new_list=[item**2 for item in l]

print(new_list)

[4, 9, 4, 1, 49, 36, 81, 9]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [214]:
l=[2,3,2,1,7,6,9,3] # original list

new_diction={item:l.index(item) for item in l}

print("New dictionary ",new_diction)

New dictionary  {2: 0, 3: 1, 1: 3, 7: 4, 6: 5, 9: 6}

38. Shuffle the elements of a list randomly.

In [215]:
import random

mylist = [1,4,2,7,9,4,6,3,8,5,6]
random.shuffle(mylist)

print(mylist)

[6, 6, 5, 4, 8, 2, 7, 3, 4, 1, 9]

39. Create a list of the first 10 factorial numbers.

In [217]:
def facto(): #defining function of factorial
    
    new_list=[] # empty list    
    
    for item in range(1,11):
        fact=1 # for multiplication
        for inner_item in range(1,item+1):
            fact=fact*inner_item
        
        new_list.append(fact)
    
    return new_list


facto() # calling factorial function

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [218]:
l=[1,2,3,4] # list1
l1=[2,3,4,5,6] # list2

if len(set(l1).intersection(set(l2)))>=1:
    print("at least one element common")
else:
    print("No element in common")

at least one element common

41. Remove all elements from a list.

In [221]:
l=[3,4,5,2,2,1,5,7,8,9] # initial list

l.clear() # remove all elements from the list

print("New_list-",l)

New_list- []

42. Replace negative numbers in a list with 0.

In [223]:
l=[2,4,2,2-4,2,-5,-6,-2] # initial elements

for item in range(len(l)):
    if l[item]<0:
        l[item]=0
        
print("New list- ",l)

New list-  [2, 4, 2, 0, 2, 0, 0, 0]

43. Convert a string into a list of words.

In [226]:
string="Now i am in the list assignment section"

string.split(" ") # list of words

['Now', 'i', 'am', 'in', 'the', 'list', 'assignment', 'section']

44. Convert a list of words into a string.

In [228]:
l=['Now', 'i', 'am', 'in', 'the', 'list', 'assignment', 'section']# list of words

string=" " # empty string

for item in l:
    string=string+" "+str(item)
    
print("New string- ",string)

New string-    Now i am in the list assignment section

45. Create a list of the first `n` powers of 2.

In [230]:
n=int(input("Enter The power value"))

l=[] # empty list

for item in range(1,n+1):
    l.append(2**item)
    
print("New List- ",l)

Enter The power value6
New List-  [2, 4, 8, 16, 32, 64]

# String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
string="This is my 1st string base assignment problem"

print("Reversed String -",string[::-1])

Reversed String - melborp tnemngissa esab gnirts ts1 ym si sihT

2. Check if a string is a palindrome.

In [2]:
string="MadaM"

if string==string[::-1]:
    print("This is a Palindrome string")
else:
    print("This is not a palindrome string")

This is a Palindrome string

3. Convert a string to uppercase.

In [3]:
string="String uppercase conversion"

string.upper() # upper() changes every character of a string yo uppercase letter

'STRING UPPERCASE CONVERSION'

4. Convert a string to lowercase.

In [4]:
string='STRING UPPERCASE CONVERSION'

string.lower() # lower() changes every character of a string yo lowercase letter

'string uppercase conversion'

5. Count the number of vowels in a string.

In [6]:
string="this is th fifTh Assignment problem"

vowel_list=['a','e','i','o','u']

vowel_count=0

for item in string.lower():
    if item in vowel_list:
        vowel_count+=1
        
print("Total number of vowels in the string is- ",vowel_count)

Total number of vowels in the string is-  8

6. Count the number of consonants in a string.

In [8]:
string="this is th fifTh Assignment problem"

vowel_space_list=['a','e','i','o','u'," "]

consonent_count=0

for item in string.lower():
    if item  not in vowel_space_list:
        consonent_count+=1
        
print("Total number of consonent in the string is- ",consonent_count)

Total number of consonent in the string is-  22

7. Remove all whitespaces from a string.

In [9]:
#user given input for space removal

string=input("Enter the string")
new_string='' #creating a blank string

for character in string.strip():
    if character.isspace()==True:
        continue
    else:
        new_string=new_string+character

print("The new string without space is- ",new_string)

Enter the stringspace removal program
The new string without space is-  spaceremovalprogram

8. Find the length of a string without using the `len()` function.

In [12]:
string=input("Enter the string- ")

length_count=0 # initial value of length is set to be zero

for item in string:
    length_count+=1
    
print("Total length of the string- ",length_count)

Enter the string- length count problem
Total length of the string-  20

9. Check if a string contains a specific word.

In [14]:
string=input("Enter the string- ")
val=input("Enter the word to be checked- ")

if val in string:
    print(val," is present in ",string)
else:
     print(val," is not present in ",string)

Enter the string- find specific word
Enter the word to be checked- word
word  is present in  find specific word

10. Replace a word in a string with another word.

In [25]:
string=input("Enter the original string- ")

old_string=input("ENter the word to be replaced-")
new_string=input("Enter the replaced word- ")

l=string.split() # list of separated words

if old_string in l:
    
    l[l.index(old_string)]=new_string

    final_string='' # creating an empty string

    for item in l:
        final_string=final_string+" "+item # word concatination and creating final string
    
    print("Final string is - ",final_string)

else:
    print(old_string," not present in ",string)

Enter the original string- hi this is
ENter the word to be replaced-my
Enter the replaced word- with
my  not present in  hi this is

11. Count the occurrences of a word in a string.

In [29]:
string=input("Enter the original string- ")

old_string=input("ENter the word for which count to be checked- ")

l=string.split() # list of separated words

if old_string in string:
        print(old_string ," - ",l.count(old_string)," times present in ",string)
else:
    print(old_string ," is not present in ",string)

Enter the original string- hi this is
ENter the word for which count to be checked- my
my  is not present in  hi this is

12. Find the first occurrence of a word in a string.

In [31]:
string=input("Enter the original string- ")

old_string=input("ENter the word for which first occurrence to be checked- ")

l=string.split() # list of separated words

if old_string in string:
        print(old_string ," - is at index no- ",l.index(old_string))
else:
    print(old_string ," is not present in ",string)

Enter the original string- hi this is my
ENter the word for which first occurrence to be checked- pwskills
pwskills  is not present in  hi this is my

13. Find the last occurrence of a word in a string.

In [37]:
string=input("Enter the original string- ")

old_string=input("ENter the word for which first occurrence to be checked- ")

l=string.split() # list of separated words

if old_string in l:
    for item in range(len(l),0,-1):
        if l[item-1]==old_string:
            print(old_string ,"is present at index nummber ",item-1," position ")
            break

else:
    print(old_string," not present in ",string)

Enter the original string- hi this is this is
ENter the word for which first occurrence to be checked- this
this is present at index nummber  3  position

14. Split a string into a list of words.

In [39]:
string=input("Enter the original string- ")

l=string.split() # list of separated words

print("list of separated words- ",l)

Enter the original string- hi this is my
list of separated words-  ['hi', 'this', 'is', 'my']

15. Join a list of words into a string.

In [41]:
l=['hi', 'this', 'is', 'my'] # list of separated words

string='' # creating empty string

for item in l:
    string=string+" "+item
    
print("final string- ",string)

final string-   hi this is my

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [44]:
string="space to be replaced by underscore"
string.replace(" ","_") # conversion of space to underscore using replace function

'space_to_be_replaced_by_underscore'

17. Check if a string starts with a specific word or phrase.

In [47]:
string=input("Enter the original string- ")

string_to_be=input("Enter the word to be checked in the original string- ")

if string.startswith(string_to_be):
    print("Yes, ",string," starts with ",string_to_be)
else:
    print("No, ",string,"  not starts with ",string_to_be)

Enter the original string- hi this is
Enter the word to be checked in the original string- no
No,  hi this is   not starts with  no

18. Check if a string ends with a specific word or phrase.

In [48]:
string=input("Enter the original string- ")

string_to_be=input("Enter the word to be checked in the original string- ")

if string.endswith(string_to_be):
    print("Yes, ",string," ends with ",string_to_be)
else:
    print("No, ",string,"  not ends with ",string_to_be)

Enter the original string- hi this is
Enter the word to be checked in the original string- is
Yes,  hi this is  ends with  is

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [49]:
string=input("Enter the original string- ")

print("After conversion it becomes- ",string.title())

Enter the original string- hello world
After conversion it becomes-  Hello World

20. Find the longest word in a string.

In [65]:
string="This is a program for longest word"

l=string.split()# list of words from the string

length_list=[] #empty list

final_words=[] # final word empty list

for item in l:
    length_list.append(len(item))
    
combine_list=list(zip(l,length_list)) # combining words with its length

for item in range(len(combine_list)):
    if combine_list[item][1]==max(length_list):
        final_words.append(combine_list[item][0])
    else:
        continue

else:
    print("longest words in the string- ",final_words)

longest words in the string-  ['program', 'longest']

21. Find the shortest word in a string.

In [66]:
string="This is a program for shortest word"

l=string.split()# list of words from the string

length_list=[] #empty list

final_words=[] # final word empty list

for item in l:
    length_list.append(len(item))
    
combine_list=list(zip(l,length_list)) # combining words with its length

for item in range(len(combine_list)):
    if combine_list[item][1]==min(length_list):
        final_words.append(combine_list[item][0])
    else:
        continue

else:
    print("shortest words in the string- ",final_words)

shortest words in the string-  ['a']

22. Reverse the order of words in a string.

In [77]:
string=" this program is for reversing the order of words"

new_str='' #empty string

list_of_words=string.split()

list_of_words

for item in range(len(list_of_words)-1,-1,-1):
     new_str=new_str+" "+list_of_words[item]
        
print(new_str)

 words of order the reversing for is program this

23. Check if a string is alphanumeric.

In [83]:
st="This progam is forchecking whether it is alphanumeric or not"

if st.isalnum()==True:
    print("It is alpha numeric")
else:
    print("Not alphanumeric")

Not alphanumeric

24. Extract all digits from a string.

In [86]:
stri="A1234B7654C8976D A1234B7654C8976D "

for item in stri:
    if item.isdigit()==True: # for checking whether digit or not
        print(item,end=' ',)
    else:
        continue

1 2 3 4 7 6 5 4 8 9 7 6 1 2 3 4 7 6 5 4 8 9 7 6

25. Extract all alphabets from a string.

In [87]:
stri="A1234B7654C8976D A1234B7654C8976D "

for item in stri:
    if item.isalpha()==True: # for checking whether alphabet or not
        print(item,end=' ',)
    else:
        continue

A B C D A B C D

26. Count the number of uppercase letters in a string.

In [92]:
stri="A1234B7654c8976D a1234b7654C8976D "

count_up=0 # initial value of upper case char is 0

for item in stri:
    if item.isupper()==True: # for checking uppercase character
        print(item,end=' ')
        count_up=count_up+1
    else:
        continue
        
else:
    print(",Total uppercase letters- ", count_up)

A B D C D ,Total uppercase letters-  5

27. Count the number of lowercase letters in a string.

In [93]:
stri="A1234B7654c8976D a1234b7654C8976D "

count_low=0 # initial value of lower case char is 0

for item in stri:
    if item.islower()==True: # for checking lowercase character
        print(item,end=' ')
        count_low=count_low+1
    else:
        continue
        
else:
    print(",Total uppercase letters- ", count_low)

c a b ,Total uppercase letters-  3

49. Insert a word at the nth position in a string.

In [94]:
st="Hi this progrm is for word insert at postion"

list_of_wrd=st.split() 

new_str='' #empty string

position=int(input("Enter the position value- "))
wrd=input("Enter the word to be inserted- ")

list_of_wrd.insert(position-1,wrd)

for item in list_of_wrd:
    new_str=new_str+" "+item
    
print("final string- ",new_str)

Enter the position value- 3
Enter the word to be inserted- hiiiiii
final string-   Hi this hiiiiii progrm is for word insert at postion

48. Remove the nth word from a string.

In [96]:
st="Hi this progrm is for word deletion at postion"

list_of_wrd=st.split() 

new_str='' #empty string

position=int(input("Enter the position value- "))

list_of_wrd.pop(position-1)

for item in list_of_wrd:
    new_str=new_str+" "+item
    
print("final string- ",new_str)

Enter the position value- 3
final string-   Hi this is for word deletion at postion

28. Swap the case of each character in a string.

In [1]:
string="THis ProGram is for sWaPPing EACh character in A sTrinG"

print("After Swapping each character it becomes:-",string.swapcase())

After Swapping each character it becomes:- thIS pROgRAM IS FOR SwAppING eacH CHARACTER IN a StRINg

29. Remove a specific word from a string.

In [2]:
string="This Program is for removing specic word"

l=string.split() # list of words 

new_str=''#Empty string

removed_word=input("Enter the word to be removed- ")

if removed_word in l:
    l.remove(removed_word)
    for item in l:
        new_str=new_str+" "+item
    
    print("After removing- ",new_str)

else:
    print(removed_word," is not present in the sentence")

Enter the word to be removed- is
After removing-   This Program for removing specic word

34. Check if a string is a valid URL.

In [9]:
url_str="https://learn.pwskills.com/lesson/20th-Aug'23-:-Python-basicdata-types/64e1e64b78681465bb214892/course/Full-Stack-Data-Science-Pro/64a264076977ccc0a0e20c13"

from urllib.parse import urlparse

parsed_url=urlparse(url_str)

if parsed_url.netloc and parsed_url.scheme:
    print("valid Url")
else:
    print("Invalid Url")

valid Url

35. Extract the protocol (http or https) from a URL string.

In [12]:
url_str="https://learn.pwskills.com/lesson/20th-Aug'23-:-Python-basicdata-types/64e1e64b78681465bb214892/course/Full-Stack-Data-Science-Pro/64a264076977ccc0a0e20c13"

from urllib.parse import urlparse

parsed_url=urlparse(url_str)

if parsed_url.scheme:
    print("Protocol- ",parsed_url.scheme)

Protocol-  https

36. Find the frequency of each character in a string.

In [16]:
string="Frequency of character"

unique_character=set(string)

if ' ' in unique_character:
    unique_character.remove(' ')
    
for item in unique_character:
    print(item ," is present ",string.count(item)," times")

n  is present  1  times
r  is present  3  times
F  is present  1  times
o  is present  1  times
a  is present  2  times
u  is present  1  times
y  is present  1  times
c  is present  3  times
e  is present  3  times
f  is present  1  times
t  is present  1  times
h  is present  1  times
q  is present  1  times

38. Check if a string contains only digits.

In [19]:
string='0123kkk489'

if string.isdigit():
    print(" All characters are digit ")
else:
    print(" All characters are not digit")

 All characters are not digit

39. Check if a string contains only alphabets.

In [20]:
string='0123kkk489'

if string.isalpha():
    print(" All characters are alphabets ")
else:
    print(" All characters are not alphabets")

 All characters are not alphabets

40. Convert a string to a list of characters.

In [21]:
string="list of characters"

print("list of characters in this string are- ",set(string))

list of characters in this string are-  {'r', 'i', 'o', 'a', ' ', 't', 'f', 'c', 'e', 's', 'h', 'l'}

45. Find all unique words in a string.

In [22]:
string="This program is for finding the unique words "

print("Unique words- ",set(string.split()))

Unique words-  {'the', 'words', 'program', 'finding', 'This', 'for', 'unique', 'is'}

44. Find the most frequent word in a string.

In [49]:
string="This program is for most frequent word finding , most frequent word comes multiple times. most"
unique_words=list(set(string.split()))

count_list=[] #creating empty list

for items in unique_words:
    count_list.append(string.count(items))
    
combine=list(zip(unique_words,count_list))  

print("Most Frequent words-")

for item in range(len(combine)):
    if combine[item][1]==max(count_list):
        print(combine[item][0],"-",combine[item][1],"times")

Most Frequent words-
most - 3 times

41. Check if two strings are anagrams.

In [52]:
str1="silent" # string 1 to compare with 2
str2="listen" #string 2 to compare with 1

if len(str1)==len(str2):
    if sorted(str1.lower())==sorted(str2.lower()):
        print("Strings are anagram")
    else:
        print("strings are not anagram")
        
else:
    print("strings are not anagram")

Strings are anagram